[submodule "deps/mathfu"]
	path = deps/mathfu
	url = https://github.com/google/mathfu.git
[submodule "deps/gl3w"]
	path = deps/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
